p {	color: #808080; }
/* color for all paragraphs */

.red { color: #FF4500; }

.primary:first-child {
  color: black;
}

.spaceships .primary { 
  color: darkkhaki;
}

/* Are IDs or Classes more specific? */
#pink { color: #FF1493; }

#main {
    font-family: Tahoma;
  }