*{
    font-family: 'Lato';
    margin: 20px;
}

body{
    background-color: rgb(193, 193, 193);
}

#titulo{
    font-family: 'Rainbow';
    font-size: 100px;
}

h2{
    font-family: 'Helvetica';
}

#discos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 20px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    color: brown;
}

a img:hover{
    height: 230;
    width: 230;
    margin: 0;
}

header{
    text-align: center;
}

.Lana {
    border-radius: 10px;
}

#Lanaimg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
}
